
{% extends 'indexBACK.html.twig' %}


{% block title %}Edit Role{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Edit Role</h1>

        <div class="card shadow-lg">
            <div class="card-header bg-gradient-primary text-white">
                <h5 class="mb-0">Update Role Information</h5>
            </div>
            <div class="card-body">
                {{ include('role/_form.html.twig', {
                    'button_label': 'Update',
                    'form_attr': {'class': 'row g-3'}
                }) }}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a href="{{ path('app_role_index') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
                <div>
                    {{ include('role/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}