{# success.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-white">Paiement effectué avec succès !</h1>
        <p class="text-white">Commande n°{{ id }}</p>
    </div>
{% endblock %}
